body {
    background: black;
    margin: auto;
    height: 100vh;
}
.wrapper{
    border: 15px solid black;
    padding: 15px;
}
h1 {
    color: grey;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}
ul {
    padding: 0;
    margin-bottom:0;
}
ul li {
    list-style: none;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
input {
    border: 1px black solid; 
    width: 50%;
}
.wrapper {
    margin: auto;
    background: white;
    height: 500px;
    width: 75%;
}
