body {
    background: black;
    margin: auto;
    
}
.wrapper{
    border: 15px solid black;
    padding: 15px;
    height: 750px;
    margin: auto;
    background: whitesmoke;
    width: 75%;
}
h1 {
    color: grey;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
ul {
    padding: 0;
    margin-bottom:0;
}
ul li {
    list-style: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.todo-list-item {
    position: relative;
    border: 2px solid whitesmoke;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 30px;
  }

.todo-item-text {
    margin-right: 20px;
  }

.fa-trash-alt {
    margin-right: 10px;
    visibility: hidden;
  }
  
  .todo-list-item:hover .fa-trash-alt {
    visibility: visible;
  }
input {
    border: 1px black solid ; 
    border-radius: 10px;
    width: 60%;
    padding: 5px;
}
::placeholder {
    text-align: center;
}
.todo-list{
    
    background: white;
    height: 500px;
    overflow: auto;
    
    padding: 0 20px;
}