.body {
    background: black;
    margin: auto;
    height: 100vh;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    color: white;
}
.wrapper {
    margin: auto;
    background: black;

}